* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.35s linear;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
}