* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.35s linear;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    --primary: #14CBD8;
    --accent: #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;

}

.content {
    width: min(calc(100% - 2rem), 560px);
    padding: 2rem;
    background-color: #fff;
    backdrop-filter: blur(2rem);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 0 0.5rem 2.5rem #24242420;

}

.content .title {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary);
}

.content h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 700;
    color: #242424;
}

.content .information {
    line-height: 1.5rem;
    color: #363636;
}


button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    color: var(--accent);
    width: 16rem;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: var(--accent);
    color: var(--primary);
}